<footer class="bottom-footer">
  <div class="copyright">
    <p>
    Original theme forked from <a href="https://github.com/cdipaolo/gindoro" title="gidoro">gindoro</a>. 
    {{ if isset .Site.Params "Author" }}&copy; {{ .Now.Year }} {{ .Site.Params.Author }}.{{end}}
    {{ if isset .Site.Params "Copyright" }}
        {{ .Site.Params.Copyright | safeHTML }}
    {{ else }}
    <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">Some rights reserved</a>; 
    please attribute properly and link back.
    {{ end }}
    {{ if isset .Site.Params "Email" }}<a href="mailto:{{ .Site.Params.Email }}">contact.</a>{{end}}
    {{ if isset .Site.Params "GithubUser" }}<a href="https://github.com/{{ .Site.Params.GithubUser }}">github.</a>{{end}}
    </p>
  </div>
</footer>
</div>
</body>
</html>
