<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">

        {{ partial "meta.html" . }}

        <base href="{{ .Site.BaseURL }}">
        {{ if .Title }}
        <title>{{ .Title }}: {{ .Site.Title }}</title>
        {{ else }}
        <title>{{ .Site.Title }}</title>
        {{ end }}
        <link rel="canonical" href="{{ .Permalink }}">
        {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
        {{ else if .Site.RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="home" type="application/rss+xml" title="{{ .Site.Title }}"/>
        {{ end }}
        {{ partial "head_includes.html" . }}
    </head>
    <body>
        <div class="container">
